<!DOCTYPE html>
<html lang="en">
<head>
<title>about</title>
<style>
body {top: 0; left: 0; width: 99%; height: 97%;
        position: absolute; display: table}
    p {display: table-cell; vertical-align: middle; text-align: center}
</style>
</head>

<body>
    <p>
        
    <img src="https://lh3.googleusercontent.com/NhNvM809LHYsycRfLJ7Z9sY3ieDS1fRonRFdIjYwJrhA1Cwfhvs0ClyfyRI56wHKVc4urHxOxAbVJ4QBFghMgJFYXBvF19hV8pxke3r93nJ5PIhJwiaLEYGrRxrCYSHyCW3NgKn9-g=w2400" style="width:275px;"><br>
    hello my name is daniel. this is a photo of thomas (left) and i (right). <br>he helped me with this site.
    </p>
</body>
</html>