<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/index.css">
<title>contact</title>
<style>
body {background-color:bisque; top: 0; left: 0; width: 99%; height: 97%;
    position: absolute; display: table}
  p {display: table-cell; vertical-align: middle; text-align: center;
     line-height: 1.5;}


</style>
</head>

<body>
    <div class="background">
        <center> Jan. 2022: Personal Website</center> <br>
        <center>+and more soon... </center>
    </div>
</body>
</html>