<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link href="time.css"
    <script src="https://yourwebsite.com/script.js"></script>
    <script src="https://codepen.io/username/pen/aBcDef"></script>
    <script src="time.js"></script>

</head>
<body>
    
<div id="MyClockDisplay" class="clock" onload="showTime()">
</div>

</body>
</html>